@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container{
    overflow: hidden;
    position: relative;
    background: hsl(185, 75%, 39%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.circle.top{
    z-index: 15;
    position: absolute;
    top: -200px;
    left: -200px;
    height: 400px;
}

.circle.bottom{
    z-index: 15;
    position: absolute;
    bottom: -200px;
    right: -200px;
    height: 400px;
}

.main{
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
    height: 70%;
    overflow: hidden;
    background: url('./images/bg-pattern-card.svg');
    border-radius: 15px;
}

.profile{
    background: white;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 45%;
    width: 100%;
}

h2{
    color: rgba(0, 0, 0, .7);
    font-size: 18px;
    font-family: 'Kumbh Sans', sans-serif;
}

p{
    margin-top: 10px;
    color: hsl(0, 0%, 59%);
    font-size: 12px;
    font-weight: 400;
    font-family: 'Kumbh Sans', sans-serif;
}

span{
    color: hsl(0, 0%, 59%);
    margin-left: 5px;
}

.profile img{
    position: absolute;
    top: -48px;
    border: 5px solid white;
    border-radius: 50%;
}

.stats{
    background: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20%;
    width: 100%;
    border-top: 1px solid hsla(0, 0%, 59%,0.4);
}

.stat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}